<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load socialaccount %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{% static 'img/favicon.ico' %}">

  
  <title>{% block title %}{% endblock %}</title>

  {% block extra_head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top my-navbar">
  {% if not user.is_anonymous %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'account_logout' %}">
        <span class="glyphicon-lg glyphicon glyphicon-log-out"></span>
      </a></li>
    </ul>
  {% endif %}

  <div class="navbar-header">
    <a class="brand" href="{% url 'account_signup' %}">
      <img src="{% static 'img/logo.png' %}" alt="logo">
      <span>Logo</span><br>
      <span class="small">Statement</span>
    </a>
  </div>
</nav>

<div class="content">
  {% block content %}{% endblock %}
</div>

{% block footer %}
  <div class="footer">
    <div class="center">

        <span class="mobile_hidden">
          <a target="_blank" href="https://github.com/AleeWeb/allauth_loginreg">View Github code here.</a> 
        </span>
   

      <div class="grey">Version {{ VERSION }}, Deployed
        {{ DEPLOY_DATE|date:"M d, Y, H:i:s e" }}
      </div>
    </div>
  </div>
{% endblock %}

  <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'jquery.serializeJSON/jquery.serializejson.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap3-dialog/dist/js/bootstrap-dialog.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

{% block extra_js %}{% endblock %}

</body>
</html>